body{
    align-items: center;
    background-color: #2d2d34;
    cursor: url("../images/Michael\ Jackson.cur"), default;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}
.container{
    display: grid;
    grid-gap: 15px;
    /* grid-template-areas:    "c1 c2 c3 c4"
                            "c5 c6 c7 c8"
                            "c9 c10 c11 c12"
                            "c13 c14 c15 c16"; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 90vh;
    width: 60vw;
}
body > div > div{
    background-color: #f09997;
    border-radius: 10px;
    font-size: 18pt;
}
body > div > div:hover{
    background-color: rgb(219, 155, 155);
}