body{
    display: grid;
    grid-gap: 15px;
    grid-template-areas:    "c1 c2 c3"
                            "c4 c5 c6"
                            "c7 c8 c9";
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-columns: 30vw 30vw 30vw;
}
div{
    align-items: center;
    background-color: aqua;
    display: flex;
    font-size: 18pt;
    justify-content: center;
}
#c1{
    grid-area: c1;
}
#c2{
    grid-area: c2;
}
#c3{
    grid-area: c3;
}
#c4{
    grid-area: c4;
}
#c5{
    grid-area: c5;
}
#c6{
    grid-area: c6;
}